$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

fieldset,
input,
h1 {
  text-align: center;
}

h2,
h1 {
  margin-top: 0;
}

.gutterless {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.beers-container {
  height: 200px;
  border: 1px solid black;
  overflow: scroll;
}

#tap-header {
  margin-top: 0px;
}

#beer-list {
  margin-top: 20px;
}

#start,
#end {
  position: fixed;
  bottom: 0;
}

.beer-headers {
  margin: 10px 0;
  border-bottom: 1px solid black;
}

.save-button,
.cancel-button {
  padding: 0 2px;
}
